<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient_name %>
</p>

<p>
  <strong>Doctor:</strong>
  <%#= @appointment.doctor.name %>
</p>

<p>
  <strong>Status:</strong>
  <p>Confirmed</p>
</p>

<p>
  <strong>Disease description:</strong>
  <%= @appointment.disease_description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.app_date %>
</p>

<%#= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%#= link_to 'Back', appointments_path %>
