<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Go2doc - Online Medical Solutions </title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/bootstrap.min.css" rel="stylesheet">

    <link href="assets/custom.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/modern-business.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Go2doc</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <% if user_signed_in? %>
                        <li><a href="#">Logged with: <%=current_user.email%>|<%=link_to "Logout",destroy_user_session_path%><li>
                    <% else %>
                        <li>
                        <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li><%=link_to "Log In",new_user_session_path%>
                        </li>    
                    <% end %>                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('assets/doc2.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Find a doctor and get cured.</h1>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('assets/medicine.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Order medicines online 24x7.</h1>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('assets/heal.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Get healed and share.</h1>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to Go2doc
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    <%=link_to raw('
                        <h4><i class="fa fa-fw fa-stethoscope"></i> Find a doctor </h4>'),find_doctors_sites_path %>
                    </div>
                    <div class="panel-body">
                        <p>Register yourself or your patient and get a unique ID number. The registration detail will be kept for future references. The ID will be used as reference to the user. Select from the list of various doctors, and fix an appointment.</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-plus-square"></i> Buy medicines online </h4>
                    </div>
                    <div class="panel-body">
                        <p>Getting medicines on time can help to save someones life. Order medicines online.go2doc has a widespread network of vendors and a group of organized supply chain teams to meet requirement of medicines 24x7.</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-share-alt"></i> Share your experience</h4>
                    </div>
                    <div class="panel-body">
                        <p>Share your experience with many others like you seeking help.Share about the doctors,the treatment, also rate your doctor there experties and your experience with them.Moreover you can also rate us in improving our services.</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our services</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#">
                    <img class="img-responsive img-portfolio img-hover" src="assets/doc2.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#">
                    <img class="img-responsive img-portfolio img-hover" src="assets/medicine.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#">
                    <img class="img-responsive img-portfolio img-hover" src="assets/heal.jpg" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->
        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <h4>Write to us at feedback@go2doc.com or follow us on:
                        <i class="fa fa-facebook-square fa-2x"></i>
                        <i class="fa fa-twitter-square fa-2x"></i>
                    </h4>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; go2doc 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>
